<configuration>
   <system.runtime.remoting>
      <application>
        <services>
          <service>
            <wellknown mode="Singleton" objectUri="UMP" type="UMP.RemoteServer,UMP"/>
          </service>
          <service>
            <wellknown mode="Singleton" objectUri="ClientObj" type="UMP.RemoteClient,UMP"/>
          </service>
        </services>
        <channels>
            <channel ref="http"/>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>
